<div id="<%= dom_id contact_info %>">
  <p>
    <strong>Contact:</strong>
    <%= contact_info.contact_id %>
  </p>
  <p>
    <strong>Type:</strong>
    <%= contact_info.info_type %>
  </p>
  <p>
    <strong>Number:</strong>
    <%= contact_info.number %>
  </p>
</div>
